{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}
    <div class="large-3 large-centered columns">
        <div class="user-box">
            <div class="row">
                <div class="large-12 columns">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="large-12 columns text-center">
                                <h3>Log In</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 large-centered columns">
                                <input type="submit" class="button expand" value="Log In"/>
                            </div>
                        </div>
                    </form>
                    {% if form.errors %}
                        <p>{{ form.non_field_errors.as_text|cut:"* " }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
