{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}.</p>
{% else %}
    <p>Welcome, please <a href="/register">create an account</a> or <a href="/login">login</a></p>
{% endif %}

<p>This is the home page of the questionnaire site!</p>

{% if user.is_authenticated %}

    {%  for questionnaire in questionnaires %}
        <p>{{ questionnaire.description }}</p>
    {% empty %}
        <p>There are currently no active questionnaires</p>
    {% endfor %}

{% endif %}

{% endblock %}
